.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/* .example-full-width {
  width: 100%;
} */
.wrap{
    text-align: center;
    border: 2px black;
    background-color: rgb(199, 241, 225);
}
table {
  width: 100%;
}
h3 {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size:25px;

}
a{
  background-color: rgb(49, 61, 56);
}


/* table {
  border-collapse: collapse;
} */

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */
/* 
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;} */