<a>
    <h3>Wellcom to the Back-Office</h3>
    <div class="wrap">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter IP address" [(ngModel)]="wl.IPAddress">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Description" [(ngModel)]="wl.DescriptionAbout">
        </mat-form-field>
        <button mat-button (click)="addIP()">Add</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- id Column -->
         <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- IPAddress Column -->
         <ng-container matColumnDef="IPAddress">
            <th mat-header-cell *matHeaderCellDef> IPAddress </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.isEdit"> {{element.ipAddress}}</span>
                <span *ngIf="element.isEdit">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter IP address" [value]="element.IPAddress" [(ngModel)]="element.ipAddress" >
                    </mat-form-field>
                </span>
            </td>
        </ng-container>
    
        <!-- DescriptionAbout Column -->
        <ng-container matColumnDef="DescriptionAbout">
            <th mat-header-cell *matHeaderCellDef> DescriptionAbout </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.isEdit"> {{element.descriptionAbout}}</span>
                <span *ngIf="element.isEdit">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Enter Description" [value]="element.DescriptionAbout" [(ngModel)]="element.descriptionAbout" >
                    </mat-form-field>
                </span>
            </td>
        </ng-container> 
        <!-- Edit Column -->
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let row">
                <button *ngIf="!row.isEdit" mat-button (click)="UpdateIP(row)">Edit</button>
                <button *ngIf="row.isEdit" mat-button (click)="UpdateIPServer(row)">Ok</button>
            </td>
        </ng-container>
        <!-- Delete Column -->
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)="delIP(row.id)">Delete</button>
            </td>
        </ng-container>
  
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    </a>
    <!-- <table>
        <tr *ngFor="let x of dataSource ">
            <td>{{x.ipAddress}}!!</td>
            <td>{{x.descriptionAbout}}</td>
        </tr>
    </table> -->